<!-- Form-->
<div class="col-12 px-3">
    <div class="form  mb-5">
        <div class="form-panel one ">
            <div class="form-header">
                <h1>Forgot your password?</h1>
                <p>Please enter your email you use to login to Liquid Mining</p>
            </div>
            <div class="form-content">
                <form>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group mb-3">
                                <label for="username">Email</label>
                                <input type="email" id="email" name="email" [(ngModel)]="email" required="required" />
                            </div>
                        </div>

                        <div class="col-md-12">

                            <div class="form-group mb-3">
                                <button (click)="forgot()">Request password reset</button>
                            </div>
                        </div>
                        <p class="text-center mt-4">Back to <a routerLink="/auth/login">Login</a></p>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>