<section class="sections pt-50">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-6">
                <h1 class="fw-bold text-yellow ">{{'header.about_us' | translate}}</h1>
                <P class="text-white mt-4">{{'home.aboutUs' | translate}}</P>
                <button class="btn btn-yellow mt-3" (click)="navigateToBuyMore()" style="text-transform: uppercase;">
                   {{'home.start_mining' | translate}}
                </button>
            </div>
            <div class="col-md-6">

                <img src="assets/images/about_img.png" class="mw-100">
            </div>
        </div>
    </div>
</section>

<section class="sections mt-5 aboutbg">
    <div class="container pt-5">
        <div class="row">
            <div class="col-md-6">
                <h1 class="fw-bolder text-white ">{{'home.about' | translate}}</h1>
                <p class="text-white">{{'home.why_choose' | translate}}</p>
            </div>
            <div class="col-md-6">
                <h5 class="text-light-blue">{{'home.auto_match' | translate}}</h5>
            </div>
            <div class="col-12 my-5">
                <p class="text-white">{{'home.crypto_about' | translate}}
                </p>
            </div>
        </div>
        <div class="row py-md-5 py-3 my-md-5 align-items-center">
            <div class="col-md-6">
                <div class="fancypres text-white">
                    <span class="count">01</span>
                    <h3>{{'header.sign_up' | translate}}</h3>
                    <p>{{'home.register_about' | translate}}</p>
                </div>
            </div>
            <div class="col-md-6">
                <img src="assets/images/3rd.png" class="mw-100">
            </div>
        </div>
        <div class="row py-md-5 py-3 my-md-5 align-items-center d-md-flex flex-row-reverse">
            <div class="col-md-6">
                <div class="fancypres text-white">
                    <span class="count">02</span>
                    <h3>{{'home.product_approach' | translate}}</h3>
                    <p>{{'home.find_goods' | translate}}</p>
                </div>
            </div>
            <div class="col-md-6">
                <img src="assets/images/2nd.png" class="mw-100">
            </div>
        </div>
        <div class="row py-md-5 py-3 my-md-5 align-items-center">
            <div class="col-md-6">
                <div class="fancypres text-white">
                    <span class="count">03</span>
                    <h3>{{'home.buy_product' | translate}}</h3>
                    <p>{{'home.buy_goods' | translate}}</p>
                </div>
            </div>
            <div class="col-md-6">
                <img src="assets/images/1st.png" class="mw-100">
            </div>

        </div>
    </div>
</section>
<!-- <section class="sections mt-md-5 py-md-5 py-3 contactbg">
    <div class="container pt-5">
        <div class="row">
            <div class="col-md-12 mb-5 text-center">
                <h1 class="fw-bolder text-white ">Contact</h1>
                <p class="text-white">Get in Touch</p>
            </div>
        </div>
        <form class="row">
            <div class="col-md-4">
                <div class="form-group iconinput">
                    <img src="assets/images/user.svg">
                    <input class="roundinput" type="text" required placeholder="Name*" />
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group iconinput">
                    <img src="assets/images/email.svg">
                    <input class="roundinput" type="email" required placeholder="Email*" />
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group iconinput">
                    <img src="assets/images/world.svg">
                    <input class="roundinput" type="text" required placeholder="Website*" />
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group iconinput">
                    <textarea class="roundinput" type="text" required placeholder="Message*" rows="6"></textarea>
                </div>
            </div>
            <div class="col-12 text-center">
                <div type="submit" class="btn btn-yellow w-auto">
                    Submit Message
                </div>
            </div>
            <p class="text-white text-center h5 fw-light lh-base mt-5">Lorem Ipsum is simply dummy text of the printing
                and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                when an unknown printer took a galley of type and scrambled it to make
            </p>
        </form>

        <div class="col-12 text-center social_btns mt-5">
            <a href="#"><img src="assets/images/icon1.png" height="51"></a> &nbsp;&nbsp;
            <a href="#"><img src="assets/images/icon2.png" height="51"></a> &nbsp;&nbsp;
            <a href="#"><img src="assets/images/icon3.png" height="51"></a> &nbsp;&nbsp;
            <a href="#"><img src="assets/images/icon4.png" height="51"></a> &nbsp;&nbsp;
            <a href="#"><img src="assets/images/icon5.png" height="51"></a> &nbsp;&nbsp;
            <a href="#"><img src="assets/images/icon6.png" height="51"></a> &nbsp;&nbsp;
            <a href="#"><img src="assets/images/icon7.png" height="51"></a> &nbsp;&nbsp;
            <a href="#"><img src="assets/images/icon8.png" height="51"></a>&nbsp;&nbsp;
            <a href="#"><img src="assets/images/icon9.png" height="51"></a>

        </div>
    </div>
</section> -->
