.btn small {
    font-size: 0.55rem !important;
    display: block;
    background: #f44336;
    padding: 1px 10px;
    border-radius: 10px;
    margin-bottom: -15px;
    color: #fff;
}
.min-h-435 {
    height: 435px;
}
