<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="card mt-5">
          <div class="header-card p-md-4 p-3">
              <h4 class="text-yellow mb-0 text-center">{{ 'contact.concern_history' | translate }}</h4>
          </div>
          <div class="p-3 bg-white">
              <div *ngIf="concerns?.length">
                  <table class="table">
                      <thead>
                        <tr>
                          <th scope="col">Status</th>
                          <th scope="col">Name</th>
                          <th scope="col">Email</th>
                          <th scope="col">{{ 'contact.concern' | translate }}</th>
                          <th scope="col">Action</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let concern of concerns">
                          <span *ngIf="concern.status == 'PENDING'">{{ 'withdraw.pending' | translate }}</span>
                          <span *ngIf="concern.status == 'COMPLETED'">{{ 'withdraw.complete' | translate }}</span>
                          <span *ngIf="concern.status == 'REJECTED'">{{ 'withdraw.rejected' | translate }}</span>

                          <td>{{concern?.name}}</td>
                          <td>{{concern?.email}}</td>
                          <td [title]="concern.concern">{{concern?.concern | slice:0:20}}...</td>
                          <td *ngIf="concern.status == 'PENDING'">
                            <i class="fas fa-check green mr-10 pointer" (click)="updateStatus('resolved', concern)"></i>
                            <i class="fas fa-times red pointer" (click)="updateStatus('reject', concern)"></i>
                          </td>
                        </tr>
                        
                      </tbody>
                    </table>
                    <!-- <pagination-controls (pageChange)="getWithdraw($event)"></pagination-controls> -->
              </div>
              <h4 class="text-muted text-center py-5" *ngIf="!concerns || !concerns.length">{{'contact.no_concern_history' | translate}}</h4>
          </div>
      </div>
    </div>
  </div>
</div>